// ==========================================================================
// Defines the footer of the website here we import our useful molecules
// ==========================================================================
@include breakpoint(short){
  .copyright,
  .tools{
    @include font-size(16);
    margin: 0.3em 0 0;
    text-align: center;
  }
}

@include breakpoint(grande){
  .copyright{
    text-align: left;
  }

  .tools{
    text-align: right;
  }
}