// ==========================================================================
// Defines the menu of the website
// here we import our useful molecules
// ==========================================================================
@import 'molecules/navigation';

// ==========================================================================
// Adjust size of the main-nav class
// ==========================================================================
.main-nav{
  padding: 20px 0;

  li{
    width: 70px;
    text-align: center;
  }

  @include breakpoint(tall, 'max-width'){
    position: absolute;
  }
}

// ==========================================================================
// Anchor styles
// ==========================================================================
.main-nav a{
  color: $gray;
}

// ==========================================================================
// Logo of my site, quite simple
// ==========================================================================
.logo{
  @include breakpoint(short){
    font-weight: $bold;
    text-align: center;
    margin: 0 auto 10px;
  }
  @include breakpoint(grande){
    //size
    width: auto;
    height: 20px;
    //position
    float: left;
  }
}