// ==========================================================================
// Defines the footer of the website here we import our useful molecules
// ==========================================================================
.client{
  @include line-height(0);
  border: 1px solid lighten($gray, 40%);
  display: block;

  &:hover{
    @include opacity(0.9);
  }

  &:active{
    @include opacity(0.83);
  }
}

@include breakpoint(short){
  .image{
    width: 100%;
    margin: 0 auto;
  }

  .client{
    margin: 0 auto 20px;
  }
}

@include breakpoint(venti){
  .half-size{
    max-height: 300px;
  }
}