// ==========================================================================
// this file contains the configurations of some of the 
// variables that we use on the project, most of them are 
// variables that use colors, dependencies and create some 
// sort of value that is always the same trough the app
// ==========================================================================

// compass support of
$experimental-support-for-svg: true;
$legacy-support-for-ie6:       false;
$legacy-support-for-ie7:       false;

// colors
$base:    #ffffff; // choose your base color from the list down or make it
$blue:    #363b48;
$gray:    #444444;
$green:   #fff;
$orange:  #f68c26;
$pink:    #fff;
$red:     #ea5854;
$teal:    #3498db;
$violet:  #fff;
$white:   #ffffff;
$yellow:  #fff;

// color setup
$base-color:   $blue;
$border-color: $base;

// animations
$transition: all 0.218s ease-in-out;

// links
$link-color:        $base;
$link-color-hover:  $base;
$link-color-active: lighten($base, 10%);

// ==========================================================================
// fonts-families
// ==========================================================================
@import url(http://fonts.googleapis.com/css?family=Trocchi|Raleway:400,200,700);
// this one should be a serif
$normal-font: 'Raleway','Helvetica Neue', Helvetica, serif;
// this one should be a sans-serif
$secondary-font: 'Trocchi', sans-serif;

// font-weight
$light:     200;
$regular:   400;
$semi-bold: 600;
$bold:      700;

// font-color
$title-color: $base;
$text-color:  $base;

// font-sizes
// you want to express in Pixels, because you can use emCalc or remCalc in
// your atom's stylesheet
$font-base: 10px;
$h2-size:   32;
$h3-size:   22;
$h4-size:   18;
$p-size:    18;

// others
$indent:    -9999px;

// ==========================================================================
// Coffee sizes
// ==========================================================================
// Short, Tall, Grande, Venti, Trenta, Depth Charge.
// whip equals 7.5% of coffee calories aprox. So we dont want it...
// ==========================================================================
$short:     310px;
$tall:      480px;
$grande:    760px;
$venti:     960px;
$trenta:    1140px;

// Extras
$decaf:   60;
$cocoa:   50;
$cream:   30;
$caramel: 20;