// ==========================================================================
// Styles for buttons, you can configure, extend, create others or simply put
// erase and re-construct this area if your application or site needs it
// ==========================================================================

// temporary style
.buttons-inline{
  .button{
    display: inline-block;
  }
}

// ==========================================================================
// basic button style
// ==========================================================================
.button{
  @include box-sizing(border-box);
  @include font-size(16);
  @include line-height(32);
  @include transition($transition);
  @include letterpress(#000000, 0.25);
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  //size
  height: 40px;
  //spacing
  margin: 4px;
  padding: emCalc(2px) emCalc(2px);
  border: 1px solid;
  border-color: $white;
  //font
  font-family: $normal-font;
  font-weight: $bold;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: $white;
  //styles
  cursor: pointer;
  display: block;
}

// ==========================================================================
// sizes
// ==========================================================================

.button{
  &.expand{
    min-width: 100%;
    max-width: 100%;
  }
}

// ==========================================================================
// colors
// ==========================================================================
.button{
  &.blue{
    background: $teal;
    //states
    &:hover{
      background: darken($teal, 20%);
    }

    &:active{
      background: darken($teal, 10%);
    }
  }
}