// ==========================================================================
// Defines the routes of the icons on the website
// ==========================================================================
$twitter: '../images/twitter.svg';
$facebook: '../images/facebook.svg';
$youtube: '../images/youtube.svg';
$hashlabs: '../images/hashlabs.svg';
$github: '../images/github.svg';