// ==========================================================================
// header full width navigation type, great for a horizontal menu that takes 
// full width of your browser always
// ==========================================================================
.main-nav{
  -webkit-font-smoothing: antialiased;
  position: fixed;
  z-index: 9999;
  //size
  width: 100%;
  height: 60px;
  //styles
  background: $white;

  a{
    @include font-size(16);
    @include line-height(16);
    font-weight: $semi-bold;
    // color: $white;
    text-decoration: none;
    &:hover{
      @include opacity(0.9);
    }
  }
}

.main-nav ul, .social-nav ul{
  @include navigation-list();
  display: inline-block;
  margin-right: 30px;
  float: right;
  li{
    margin-right: 20px;
    border: 1px solid transparent;
  }
}

.social-nav ul{
  float: none;
}